@use "../../styles/breakpoints.scss";

.about {
    padding: 1rem;

    @media screen and (min-width: breakpoints.$sm) {
        padding: 1rem 3rem;
    }

    @media screen and (min-width: breakpoints.$md) {
        padding: 2rem 3rem;
        margin-top: 5rem;
    }

    @media screen and (min-width: breakpoints.$xl) {
        padding: 4rem 6rem;
        margin-top: 20rem;
    }

    @media screen and (min-width: breakpoints.$xl2) {
        margin-top: 25rem;
    }

    @media screen and (min-width: breakpoints.$xl3) {
        padding: 4rem 12rem;
        margin-top: 27rem;
    }

    * {
        will-change: transform;
    }

    p {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.25rem;

        @media screen and (min-width: breakpoints.$md) {
            font-size: 1.5rem;
        }

        @media screen and (min-width: breakpoints.$xl) {
            font-size: 3rem;
            width: 70%;
            line-height: 120%;
        }

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
}
