@use "../../styles/breakpoints.scss";
@use "../../styles/colors.scss";

.footer {
    padding: 3rem 1rem;
    background-color: colors.$bg-dark;
    margin-top: 5rem;

    * {
        color: colors.$text-light !important;
    }

    @media screen and (min-width: breakpoints.$md) {
        padding: 2rem 3rem;
    }

    @media screen and (min-width: breakpoints.$xl) {
        padding: 4rem 6rem;
    }

    @media screen and (min-width: breakpoints.$xl2) {
        margin-top: 20rem;
        padding: 6rem;
    }

    @media screen and (min-width: breakpoints.$xl3) {
        padding: 8rem 12rem;
        margin-top: 25rem;
    }

    * {
        will-change: transform;
    }

    .footerContent {
        @media screen and (min-width: breakpoints.$md) {
            display: flex;
        }

        h1 {
            font-size: 3rem;

            @media screen and (min-width: breakpoints.$md) {
                font-size: 5rem;
            }

            @media screen and (min-width: breakpoints.$lg) {
                font-size: 6rem;
            }

            @media screen and (min-width: breakpoints.$xl) {
                font-size: 7rem;
            }

            @media screen and (min-width: breakpoints.$xl2) {
                font-size: 9rem;
            }
        }

        h3 {
            margin-top: 2rem;
            text-transform: none;
            font-weight: 400;
            line-height: 160%;

            @media screen and (min-width: breakpoints.$md) {
                margin-top: 0;
                margin-left: 4rem;
                font-size: 1.5rem;
            }

            @media screen and (min-width: breakpoints.$lg) {
                font-size: 2.5rem;
            }

            @media screen and (min-width: breakpoints.$xl2) {
                font-size: 3rem;
                margin-left: 6rem;
            }

            @media screen and (min-width: breakpoints.$xl3) {
                margin-left: 10rem;
            }
        }
    }

    .sources {
        margin-top: 3rem;

        @media screen and (min-width: breakpoints.$lg) {
            margin-top: 5rem;
        }

        * {
            color: colors.$text-tertiary !important;
        }

        p {
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 1rem;
        }
    }
}
