@use "../../styles/breakpoints.scss";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;

    @media screen and (min-width: breakpoints.$sm) {
        padding: 1rem 3rem;
    }

    @media screen and (min-width: breakpoints.$md) {
        flex-direction: row;
        padding: 2rem 3rem;
    }

    @media screen and (min-width: breakpoints.$xl) {
        padding: 4rem 6rem;
    }

    @media screen and (min-width: breakpoints.$xl3) {
        padding: 4rem 12rem;
    }
}
